.pie-graph-bg-container {
  background-color: #1c1c2b;
  padding: 20px;
  margin-bottom: 20px;
}

.pie-graph-heading {
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 500;
  color: #94a3b8;
  line-height: 1.5;
}
